body {
	background-color: #FCF49C;
	text-align: justify;
	margin: 15px;
}

h1 {
	text-align: center; 
	font-size: 60px;
	font-weight: bold;
}

.main-header {
 	background-image: url('https://images.squarespace-cdn.com/content/v1/522abc9fe4b0e0717e3ac28e/1552173970909-XPSN7V2FST6ANGIMYIW0/ke17ZwdGBToddI8pDm48kBu5K5rcO8pn3sUeNNUqMd8UqsxRUqqbr1mOJYKfIPR7LoDQ9mXPOjoJoqy81S2I8N_N4V1vUb5AoIIIbLZhVYwL8IeDg6_3B-BRuF4nNrNcQkVuAT7tdErd0wQFEGFSnIJYYF0O6xXVdVKvnjVCh8CEhS_zA7-iwWWRB5ASULsK5CRfakrR94Ve0qzQGo9ElQ/Bee+w+Line+Header.png');
 	background-repeat: no-repeat;
 	background-attachment: scroll;
 	background-position: center;
 	background-size: 650px 100px;
 	width: 100%;
 	height: 100px;
 }

 h3 {
margin: 50%
font-size: 20px;
text-align: center;
 }

 h2 {
 	
 	text-align: center;
 	font-size: 40px;
 	font-weight: bold;
 }

 p {
 	font-size: 18px;
 }

 .mainpg {
 	text-align: center;
 	font-size: 60px;
 	padding-top: 20%;
 	text-shadow: 2px 2px #ccccff;
 }

 h2.double {border-style: double; background-color: white;}

 .quote {
 background-repeat: no-repeat;
 background-image: url('https://www.rmit.edu.au/content/dam/rmit/au/en/news/news_bee.jpg');
 width: 100%;
 height: 800px;
 background-size: 1300px 100%;
 background-attachment: fixed;
 }

 .impact,.solutions,.death,.sponsors {
 	clear: both;
 	margin-bottom: 30px;
 	background-attachment: scroll;
 	background-image: url('https://cdn.pixabay.com/photo/2019/03/25/15/26/nature-4080511_960_720.jpg');
 	background-size: 35% 100px;
 	width: 100%;
 	height: 100px;
 }

nav ul {	
	text-align: center;
	list-style: none;
}

nav li {
	display: inline-block;
	margin: 0 35px;
	padding-top: 30px;
}

nav a {
	color: black;
	text-decoration: none;
	font-size: 20px;

}
nav a:hover {
	color: #333333
}

p.dashed {border-style: dashed; border-width: 4px; padding: 5px;}
p.dashed:hover {
	color: #e6ac00
}

.column3 {
	float: left;
	width: 20%
	padding: 10px;
	height: 150px;
}

.left, .right {
	width: 25%;
}

.middle {
	width: 50%;
}

.row2:after {
  content: "";
  display: table;
  clear: both;
}

.beehive {
	height: 200px;
	width: 300px;
	float: left;
}

.beehive2 {
	height: 200px;
	width: 300px;
	float: right;
}

.button2 a:link, a:visited {
	border-style: dashed; 
	border-width: 4px;  
	background-color: white;
	padding: 15px 30px;
	text-align: center;
	text-decoration: none;
	color: black;
	clear: both;
	display: inline-block;
	font-weight: bold;
	margin-left: 35%

	
}

.button2 a:hover {
	background-color: #e6ac00
}

.logo {
	padding: 15px;
}

.TamaraT{
	float: left;
}
.TamaraT, th, td {
	border: 1px solid black;
	border-spacing: 5px;
}
.TamaraT th {
	background-color: #e6ac00
}
.TamaraT tr{
	transition: transform .2s;
}
.TamaraT tr:hover {
	background-color: #e6ac00;
	transform: scale(1.1); 
}
.TamaraT th, td {
	padding: 15px;
}

.subtable2 {
	padding-top: 30px;
}

ol li {
	clear: both;
	font-size: 24px;
	font-style:italic;
}

p {
	line-height: 32px; /* within paragraph */
	margin-bottom: 30px; /* between paragraph*/
}

.column2 {
	float: left;
	width: 50%;
}

.button a:link, a:visited {
	border-style: dashed; 
	border-width: 4px;  
	background-color: white;
	padding: 15px 30px;
	text-align: center;
	text-decoration: none;
	color: black;
	clear: both;
	display: inline-block;
	font-weight: bold;
	position: relative;
	left: 80px;
	top: 10px;
}

.button a:hover {
	background-color: #e6ac00
}

.Footer {
	margin-top: 30px;
	font-size: 20px;
	position: static;
	text-align: left;
	width: 100%;
	height: 40%;
	bottom: 0;
	left: 0;
}
footer li {
	padding-left: 20px;
	padding-top: 10px;
	list-style: none;
}

footer li img {
	padding-right: 20px;
}

.column {
float: left;
width: 30%;
padding: 10px;
height: 300px;
}

@media screen and (max-width: 800px) {
  .column {
    width: 85%;
  }

}

.row {
display: table;
clear: both;
width: 102%;
}

.contact {
		line-height: 2;
}

footer a:link {
	color: black;
	text-decoration: none;
}

footer a:visited {
	color: black;
}

footer a:hover {
	color: #ffff66;
	text-decoration: none;
}

.image {
	float: right;
	padding-top: 10px;
	padding-left: 15px;
	height: 300px;
	width: 500px;
}

iframe {
	padding: 20px;
	float: right;
}

blockquote {
font-size: 18px
}

.image2 {
float: right;
padding-left: 30px;
}

.table2 {
width: 100%;
position: relative;
}
.table2, .table2 th, .table2 td {
border: 1px solid black;
border-spacing: 5px;
height: 30px;
}
.table2 th, .table2 td {
padding: 15px;
}

.table2 th {
	background-color: #e6ac00;
}

.table2 td:hover {
	background-color: #e6ac00;
	transform: scale(1.1); 
}

.middle {
padding-top: 50px;
}

.imgtext {
float: left;
font-weight: bold;
font-style: italic;
text-decoration: underline;
}

.subpic {
float: right;
}

.link:link {
 text-decoration: none;
 color: blue;
 font-style: italic;
}

.link:visited {
 text-decoration: underline;
 color: purple;
}

.link:hover {
 text-decoration: underline;
}

.link:active {
 text-decoration: underline;
}

.buzz {
position: relative;
left: 38%;
}











